<header class="header">
    <nav class="header__nav">
        <ul class="header__item-list">
            <li class="header__item">
                <a class="header__item-link" href="/">
                    <span class="header__item-name" >Shop</span>
                </a>
            </li>
            <li class="header__item">
                <a class="header__item-link" href="/products">
                    <span class="header__item-name" >Products</span>
                </a>
            </li>
            <li class="header__item">
                <a class="header__item-link" href="/cart">
                    <span class="header__item-name" >Cart</span>
                </a>
            </li>
            <li class="header__item">
                <a class="header__item-link" href="/orders">
                    <span class="header__item-name">Orders</span>
                </a>
            </li>
            <li class="header__item">
                <a class="header__item-link" href="/admin/add-product">
                    <span class="header__item-name" >Add Product</span>
                </a>
            </li>
            <li class="header__item">
                <a class="header__item-link" href="/admin/products">
                    <span class="header__item-name" >Admin Products</span>
                </a>
            </li>
        </ul>
    </nav>
</header>