<%- include('includes/head.ejs') %>

    <body>
        <%- include('includes/header.ejs') %>
        <h1>An error occured..</h1>
        <p> We are working hard to fix the issue.</p>

<%- include('includes/end.ejs') %>