*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.header {
  height: 7rem;
  background-color: #232f3e; }
  .header__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__item-list {
    height: 100%;
    display: flex;
    list-style: none; }
  .header__item {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .header__item:not(:last-child) {
      margin-right: 2rem; }
    .header__item:hover {
      background-color: #bc7c5a; }
  .header__item-link:link, .header__item-link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%; }
  .header__item-name {
    color: #faf9f9; }
  .header__item:hover > .header__item-link > span {
    color: #f4f2f2; }
  .header .login {
    display: inline-block;
    height: 100%; }

.form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem; }
  .form__control {
    display: flex;
    flex-direction: column; }
    .form__control:not(:last-child) {
      margin-bottom: 2rem; }
    .form__control > textarea {
      resize: none; }
  .form__label {
    margin-bottom: .5rem; }
  .form__input {
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    padding: .3rem .7rem; }
    .form__input:focus {
      outline: none;
      border-color: #e77600;
      box-shadow: 0 0 3px 2px rgba(231, 118, 0, 0.5); }
  .form__cta {
    align-self: center; }

.invalid {
  border-color: red; }

.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0; }

.btn {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-radius: 2px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-width: 1px;
  border-style: solid;
  padding: .7rem 1.7rem;
  font-family: inherit;
  font-size: 1.2rem;
  color: #000; }
  .btn:hover {
    cursor: pointer;
    border-color: #a2a6ac #979aa1 #82858a;
    background: #e7e9ec; }
  .btn:focus {
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(231, 118, 0, 0.5); }
  .btn--primary {
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29; }
    .btn--primary:hover {
      background: linear-gradient(to bottom, #f5d78e, #eeb933); }

a.btn:visited, a.btn:link {
  text-decoration: none; }

.separator {
  height: 1px;
  border: 0;
  border-top: 1px solid #e7e7e7;
  margin: 1rem 0; }

.card {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #A2A6AC;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  width: 25rem; }
  .card__actions {
    display: flex;
    justify-content: center; }
    .card__actions > *:not(:last-child) {
      margin-right: 1rem; }

.product-card__title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 2rem; }

.product-card__image-container {
  overflow: hidden;
  height: 20rem; }

.product-card__image {
  width: 100%;
  transform: scale(2); }

.product-card__description {
  height: 10rem;
  padding: .5rem; }

.product-card__price {
  font-weight: 700;
  color: #B12704;
  padding: .5rem;
  font-size: 1.8rem; }

.cart__name {
  font-weight: 300; }

.cart__price-word {
  display: flex;
  justify-content: flex-end;
  color: #565959; }

.cart__separator {
  margin-top: .2rem; }

.cart__cta {
  display: flex;
  justify-content: flex-end; }

.cart__item {
  list-style: none; }
  .cart__item:not(:last-child) {
    margin-bottom: 4rem; }

.cart__item-main {
  display: flex;
  justify-content: space-between; }

.cart__in-stock {
  color: #007600;
  font-size: 1.2rem; }

.cart__item-price {
  font-weight: 700;
  font-size: 2rem; }

.cart__item-title {
  font-weight: 700;
  font-size: 2rem;
  color: #007185; }

.cart__item-qty {
  font-size: 1.2rem; }

.cart__item-cta {
  margin: 1rem 0; }

.cart__total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  font-size: 2rem; }

.cart__total-price {
  font-weight: 700;
  margin-left: .5rem; }

.orders__name {
  font-weight: 300; }

.orders__item {
  list-style: none; }
  .orders__item:not(:last-child) {
    margin-bottom: 4rem; }

.orders__item-info {
  display: flex;
  justify-content: space-between; }

.orders__item-total {
  font-size: 2rem; }

.orders__item-price {
  font-size: 2rem;
  font-weight: 700; }

.orders__item-id {
  font-size: 2rem; }

.products {
  padding: 1rem; }

.product {
  list-style: none; }
  .product__title {
    font-weight: 700;
    font-size: 1.6rem;
    color: #007185;
    margin-bottom: .2rem; }
  .product__qty {
    font-size: 1.3rem; }

.grid {
  display: flex;
  flex-wrap: wrap; }
  .grid > * {
    margin-bottom: 3rem; }
    .grid > *:not(:last-child) {
      margin-right: 3rem; }

.logout__form {
  height: 100%; }

.logout__button {
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }
  .logout__button:focus {
    outline: none; }

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .product-detail .separator {
    align-self: stretch; }
  .product-detail__image {
    height: 200px; }
    .product-detail__image > img {
      height: 100%; }

.pagination {
  text-align: center;
  margin-top: 2rem; }
  .pagination__link:link, .pagination__link:visited {
    text-decoration: none;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-radius: 2px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-width: 1px;
    border-style: solid;
    padding: .7rem 1.7rem;
    font-family: inherit;
    font-size: 1.2rem;
    color: #000; }
  .pagination__link:focus {
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(231, 118, 0, 0.5); }
  .pagination__link.active {
    cursor: pointer;
    border-color: #e77600;
    background: #fff;
    color: #b45c00;
    font-weight: bold; }
  .pagination__link:hover {
    cursor: pointer;
    border-color: #a2a6ac #979aa1 #82858a;
    background: #e7e9ec; }

.content {
  padding: 5rem; }
