@mixin focus-ring-amazon {
  outline: none;
  border-color: $color-amazon-orange;
  box-shadow: 0 0 3px 2px rgba($color-amazon-orange, 0.5);
}

@mixin focus-ring-header {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px $color-grey-dark-2,
              inset 0px 0px 0px 4px $color-grey-dark-3;
}
