.cart {
  &__name {
    font-weight: 300;
  }

  &__price-word {
    display: flex;
    justify-content: flex-end;
    color: #565959;
  }

  &__separator {
    margin-top: .2rem;
  }

  &__cta {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__item-main {
    display: flex;
    justify-content: space-between;
  }

  
  &__in-stock {
    color: #007600;
    font-size: 1.2rem;
  }

  &__item-price {
    font-weight: 700;
    font-size: 2rem;
  }

  &__item-title {
    font-weight: 700;
    font-size: 2rem;
    color: #007185;
  }

  &__item-qty {
    font-size: 1.2rem;
  }

  &__item-cta {
    margin: 1rem 0;
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__total-price {
    font-weight: 700;
    margin-left: .5rem;
  }
}