.form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    &__control {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      display: flex;
      flex-direction: column;

      & > textarea {
        resize: none;
      }
    }

    &__label {
      margin-bottom: .5rem;
    }

    &__input {
      border-radius: 3px;
      border: 1px solid #a6a6a6;
      padding: .3rem .7rem;
      &:focus {
        @include focus-ring-amazon;
      } 
    }

    &__cta {
      align-self: center;
    }
}

.invalid {
  border-color: red;
}