.header {
  height: 7rem;
  background-color: #232f3e;

  &__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-list {
    height: 100%;
    display: flex;
    list-style: none;
    margin-left: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__item-link {
    padding: 0 1rem;

    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      height: 100%;
    }
    
    &:hover {
      background-color: darken(#eaeded, 10%);
    }

    &:focus {
      @include focus-ring-header;
    }
  } 

  &__item-name {
    color: $color-grey-light-1;
  }

  &__item:hover > &__item-link {
    & > span {
      color: $color-black;
    }
  }

  .login {
    display: inline-block;
    height: 100%;
  }
}