.logout {
  &__form {
    height: 100%;
  }

  &__button {
    padding: 0 1rem;
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: inherit;
    &:focus {
      @include focus-ring-header;
    }
  }
} 