.pagination {
  text-align: center;
  margin-top: 2rem;

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
      border-radius: 2px;
      border-color: #ADB1B8 #A2A6AC #8D9096;
      border-width: 1px;
      border-style: solid;
      padding: .7rem 1.7rem;
      font-family: inherit;
      font-size: 1.2rem;
      color: $color-black;
    }

    &:focus {
      @include focus-ring-amazon;
    }

    
    &.active {
      cursor: pointer;
      border-color: $color-amazon-orange;
      background: $color-white;
      color: darken($color-amazon-orange, 10%);
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      border-color: #a2a6ac #979aa1 #82858a;
      background: #e7e9ec;
    }

  }
}